<!DOCTYPE html>
<html>
    <head>
        <title>SAL-INVENTOS |About Us</title>
        <link rel="stylesheet" href="..//static/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="..//static/assets/css/glightbox.min.css"/>
  <link rel="stylesheet" href="..//static/assets/css/lineicons.css"/>
  <link rel="stylesheet" href="..//static/assets/css/tiny-slider.css" />
  <link rel="stylesheet" href="..//static/style.css" />
  
    </head>
    <body>
        <!-- ===== service-area start ===== -->
  <section id="services" class="services-area services-eight">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h6>ABOUT US</h6>
              <p>
               We Can Provis variations of services available on SAL INVENTOS,
                but the majority of the Services are shown below.
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-capsule"></i>
            </div>
            <div class="service-content">
              <h4>Refreshing Design</h4>
              <p>
                Every Time We Try To Design Our Product In Fresh Designs Because It Shows Something Unique With The Other Products
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-bootstrap"></i>
            </div>
            <div class="service-content">
              <h4>Quality Management</h4>
              <p>
                We Do Not Compromise On Quality So We Use The Best Quality Elements/Componets On The Products. The Main Point On Us Is The Using High Quality Elements.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-shortcode"></i>
            </div>
            <div class="service-content">
              <h4>500+ Products</h4>
              <p>
                We Made 500+ Products Up To Now Which Are The Best At There Place And Every Product Is Get Success
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-dashboard"></i>
            </div>
            <div class="service-content">
              <h4>Speed Optimized</h4>
              <p>
                We Made The Products Which Works Fast/Speed,We Use The Components Or Processors Which Helps To The Product To Work Speed
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-layers"></i>
            </div>
            <div class="service-content">
              <h4>Fully Customizable</h4>
              <p>
                We Also Provide The Customize Option Because The User Will Customize The Software As Per There REquire 
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-services">
            <div class="service-icon">
              <i class="lni lni-reload"></i>
            </div>
            <div class="service-content">
              <h4>Regular Updates</h4>
              <p>We Give Regular Updates To Our Products And Every Year We Provide The Latest Version Update That The Product.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== service-area end ===== -->

    </body>
</html>