<!DOCTYPE html>
<html>
    <head>
        <title>SAL-INVENTOS |Our-Blogs</title>
        <link rel="stylesheet" href="..//static/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="..//static/assets/css/glightbox.min.css"/>
  <link rel="stylesheet" href="..//static/assets/css/lineicons.css"/>
  <link rel="stylesheet" href="..//static/assets/css/tiny-slider.css" />
  <link rel="stylesheet" href="..//static/style.css" />
  </head>
    <body>
        <!-- Start Latest News Area -->
  <div id="blog" class="latest-news-area section">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h6>latest news</h6>
              <h2 class="fw-bold">Latest News & Blog</h2>
              <p>Here Some Of The Latest News And Blogs
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/1.png" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="../static/assets/images/blog/b6.jpeg" alt="Author" />
                <span>BY V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">OnePlus 10 Series</a>
              </h4>
              <p>As for the specifications, the new OnePlus 10 comes with a 6.55-inches AMOLED display offering a screen resolution of 1080 x 2400 pixels and 402ppi pixel density.
              </p>
            </div>
          </div>
          <!-- End Single News -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/2.jpg" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="../static/assets/images/blog/b7.jpeg" alt="Author" />
                <span>V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  I PHONE 13 SERIES
                </a>
              </h4>
              <p>
                Apple's iPhone 13 features a ceramic shield front, Super Retina XDR display with True Tone and an A15 Bionic chip. The first design change users will notice is the smaller notch. After years of using the same-sized notch to house the Face ID components, Apple has finally reduced its size by 20%.
              </p>
            </div>
          </div>
          <!-- End Single News -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/3.jpg" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="../static/assets/images/blog/b8.jpeg" alt="Author" />
                <span>V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  Samsung Galaxy S22
                </a>
              </h4>
              <p>
                The Samsung Galaxy S22 flaunts a 6.2-inches Dynamic AMOLED display that offers a screen resolution of 1440 x 3200 pixels. The display offers an aspect ratio of 20:9 and a high pixel density of 566ppi. The phone gets an IP 68 rating, which makes it waterproof and dustproof.
              </p>
            </div>
          </div>
          <!-- End Single News -->
          
        </div>
      </div>
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/4.jpg" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="../static/assets/images/blog/b6.jpeg" alt="Author" />
                <span>BY V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">OnePlus Buds Z</a>
              </h4>
              <p>The OnePlus Buds Z is a great example of exactly that; it costs Rs. 2,000 less than the OnePlus Buds, but is objectively better in almost every way. From the fit and comfort to the sound, this is an excellent pair of true wireless earphones for the price.
              </p>
            </div>
          </div>
          <!-- End Single News -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/5.jpg" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="../static/assets/images/blog/b7.jpeg" alt="Author" />
                <span>V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  Realme Buds
                </a>
              </h4>
              <p>
                Regarding connection and signal strength, the Realme Buds Air Pro are excellent. The earbuds support Google Fast Pair with Android phones and paired quickly. Signal was very strong here at the office, not dropping even after moving two rooms away from the phone.
              </p>
            </div>
          </div>
          <!-- End Single News -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/6.jpg" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="../static/assets/images/blog/b8.jpeg" alt="Author" />
                <span>V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  Apple Earpods
                </a>
              </h4>
              <p>
                The speakers inside the EarPods have been engineered to maximise sound output and minimise sound loss, which means you get high-quality audio. The EarPods also include a built-in remote that lets you adjust the volume, control the playback of music and video, and answer or end calls with a pinch of the cord
              </p>
            </div>
          </div>
          <!-- End Single News -->
          
        </div>
      </div>
    </div>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/8.jpg" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="../static/assets/images/blog/b6.jpeg" alt="Author" />
                <span>BY V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">OnePlus Watch</a>
              </h4>
              <p>OnePlus Watch combines timeless style with ways to better connect with your lifestyle. Individually hand-polished, each watch embodies uncompromising craftsmanship. So when every second counts, meet every challenge head-on with one device. Elegance is in the eye of the beholder, but we're confident you'll be dazzled.
              </p>
            </div>
          </div>
          <!-- End Single News -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/7.jpg" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="../static/assets/images/blog/b7.jpeg" alt="Author" />
                <span>V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  Apple Watch
                </a>
              </h4>
              <p>
                Apple Watch is a wearable smartwatch that allows users to accomplish a variety of tasks, including making phone calls, sending text messages and reading email. Apple released the Apple Watch on April 24, 2015.
              </p>
            </div>
          </div>
          <!-- End Single News -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single News -->
          <div class="single-news">
            <div class="image">
              <a href="javascript:void(0)"><img class="thumb" src="../static/assets/images/blog/8.jpg" alt="Blog" /></a>
              <div class="meta-details">
                <img class="thumb" src="..//static/assets/images/blog/b8.jpeg" alt="Author" />
                <span>V.S.MD SHAHIL</span>
              </div>
            </div>
            <div class="content-body">
              <h4 class="title">
                <a href="javascript:void(0)">
                  Mi Band
                </a>
              </h4>
              <p>
                smart band (plural smart bands) A mobile device worn on the wrist, often with a display that can be used to control a smartphone or to keep track of information such as fitness levels. quotations ▼ Coordinate term: smartwatch Hypernym: wearable Hyponyms: activity tracker, fitness tracker.
              </p>
            </div>
          </div>
          <!-- End Single News -->
          
        </div>
      </div>
    </div>
  </div>
  <!-- End Latest News Area -->



    </body>
</html>