<!DOCTYPE html>
<html>
    <head>
        <title>SAL INVENTOS |Pricing</title>
        <link rel="stylesheet" href="..//static/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="..//static/assets/css/glightbox.min.css"/>
        <link rel="stylesheet" href="..//static/assets/css/lineicons.css"/>
        <link rel="stylesheet" href="..//static/assets/css/tiny-slider.css" />
        <link rel="stylesheet" href="..//static/style.css" />
      
    </head>
    <body>
         <!-- Start Pricing  Area -->
  <section id="pricing" class="pricing-area pricing-fourteen">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h6>Pricing</h6>
              <h2 class="fw-bold">Pricing</h2>
              <p>
                By Keeping Mind Of Every Level Of Users We Provide The Different Prices And We Provide The Best Quality On Every Range 
              </p><br>
              <p><u>NOTE:-</u> We Mention The Pricing To The Mobiles,Earbuds & SmartWatch's
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <h2 style="text-align: center;"><u>OUR MOBILE PRICING</h2></u>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              <h6 class="title">Low Range</h4>
                <p>Here We Provide The Products With Best Quality At Low Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">RS:</span>20000/- TO 35000/-<span class="duration"> </span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i> Plastic Back</li>
                <li> <i class="lni lni-checkmark-circle"></i> 48MP Rear Camera</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i> 16MP Front Camera</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i> 4000Mah Battery</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen middle">
            <div class="table-head">
              <h6 class="title">Mid Range</h4>
                <p>Here We Provide The Products With Best Quality At Mid Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">RS</span>35000/- TO 60000/-<span class="duration"></span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i>Glass Back</li>
                <li> <i class="lni lni-checkmark-circle"></i>64MP Rear Camera</li>
                <li> <i class="lni lni-checkmark-circle"></i>32MP Front Camera</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i>5000Mah Battery</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              <h6 class="title">High Range</h4>
                <p>Here We Provide The Products With Best Quality At Higgh Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">Rs</span>60000/- TO 100000/-<span class="duration"></span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i>Glass Back With Ip Rating</li>
                <li> <i class="lni lni-checkmark-circle"></i>128MP Rear Camera</li>
                <li> <i class="lni lni-checkmark-circle"></i>64Mp Front Camera</li>
                <li> <i class="lni lni-checkmark-circle"></i>6500Mah Battery</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h2 style="text-align: center;"><u>OUR EARBUDS PRICING</h2></u>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              <h6 class="title">Low Range</h4>
                <p>Here We Provide The Products With Best Quality At Low Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">RS:</span>500/- <br>TO 1500/-<span class="duration"> </span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i> Plastic case</li>
                <li> <i class="lni lni-checkmark-circle"></i>5mm drives</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i>No Water Resistance</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i>10hrs Battery Life</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen middle">
            <div class="table-head">
              <h6 class="title">Mid Range</h4>
                <p>Here We Provide The Products With Best Quality At Mid Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">RS</span>1500/- TO 5000/-<span class="duration"></span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i>Glass Case</li>
                <li> <i class="lni lni-checkmark-circle"></i>10mm Drives</li>
                <li> <i class="lni lni-checkmark-circle"></i>Water Resistance</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i>2 Days BatteryLife</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              <h6 class="title">High Range</h4>
                <p>Here We Provide The Products With Best Quality At Higgh Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">Rs</span>50000/- TO 10000/-<span class="duration"></span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i>Best Glass Case And Material</li>
                <li> <i class="lni lni-checkmark-circle"></i>20mm Drives</li>
                <li> <i class="lni lni-checkmark-circle"></i>Ip6 Water Resistance</li>
                <li> <i class="lni lni-checkmark-circle"></i>5Days BatteryLife</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h2 style="text-align: center;"><u>OUR EARBUDS PRICING</h2></u>
    <!--======  End Section Title Five ======-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              <h6 class="title">Low Range</h4>
                <p>Here We Provide The Products With Best Quality At Low Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">RS:</span>1000/- TO 5000/-<span class="duration"> </span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i> Plastic Dailog</li>
                <li> <i class="lni lni-checkmark-circle"></i>Main Features</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i>No Water Resistance</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i>10-15 Days Battery Life</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen middle">
            <div class="table-head">
              <h6 class="title">Mid Range</h4>
                <p>Here We Provide The Products With Best Quality At Mid Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">RS</span>5000/- TO 10000/-<span class="duration"></span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i>silicon Dailog</li>
                <li> <i class="lni lni-checkmark-circle"></i>All Features</li>
                <li> <i class="lni lni-checkmark-circle"></i>Water Resistance</li>
                <li> <i class="lni lni-checkmark-circle deactive"></i>15-20 Days BatteryLife</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="pricing-style-fourteen">
            <div class="table-head">
              <h6 class="title">High Range</h4>
                <p>Here We Provide The Products With Best Quality At Higgh Range</p>
                <div class="price">
                  <h2 class="amount">
                    <span class="currency">Rs</span>10000/- TO 20000/-<span class="duration"></span>
                  </h2>
                </div>
            </div>

            <div class="light-rounded-buttons">
              <a href="javascript:void(0)" class="btn primary-btn-outline">
                Go And Search
              </a>
            </div>

            <div class="table-content">
              <ul class="table-list">
                <li> <i class="lni lni-checkmark-circle"></i>Best Staps And Metal Dialog</li>
                <li> <i class="lni lni-checkmark-circle"></i>All Features</li>
                <li> <i class="lni lni-checkmark-circle"></i>Ip6 Water Resistance</li>
                <li> <i class="lni lni-checkmark-circle"></i>30Days BatteryLife</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ End Pricing  Area -->
    </body>
</html>